<div class="row justify-content-start border-top"> <!-- HEDING ROW -->
  <!-- SECTION LOGO -->
  <div class="col-3">
    <div class="d-flex justify-content-center">
        <div class="section-squer-wrap">
          <i class="fas fa-home section-logo"></i>
        </div>
    </div>
  </div>
  <!-- SECTION HEDING -->
  <div class="col-9">
    <div class="d-flex justify-content-center">
      <h1 class="home-heding">HOME.</h1>
    </div>
  </div>
</div>

<div class="row justify-content-center">
 <div class="col-1 testiomonial-l"></div>
 <div class="col-1 testiomonial-g"></div>
 <div class="col-1 testiomonial-l"></div>
</div>
<!--------------------------------------------------------------->
<div class="row justify-content-center pt-5 pb-4"> <!-- CONTENT ROW -->
  <div class="col-12 col-sm-10 col-lg-10 col-xl-8">
    <div class="row justify-content-center">
      <div class="col-12 text-center"><h1 class="h-1">Hello! I'm</h1></div>
    </div>
    <div class="row justify-content-start">
      <div class="col-12 "><h1 class="ts-1">Tomislav Sokac</h1></div>
      <div class="col-12"><h1 class="ts-2">Tomislav Sokac</h1></div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h2 class="it-guru">Inspired IT Guru | Full Stack Developer,</h2>
    </div>
    <div class="col-xl-8 col-12 mt-1">
      <p class="intro-text">able to plan and lead full project life cycles including excellent presentation and communications skills.</p>
  </div>
</div>
<!-- Testimonial -->
<div class="row justify-content-center testiomonial">
  <div class="col-12 text-center mt-3">
     <i class="fas fa-quote-right testiomonial-icon"></i>
  </div>
  <div class="col-12 text-center mt-3">
     <h1 class="testiomonial-title">Testimonials</h1>
     <div class="row justify-content-center">
      <div class="col-1 testiomonial-l"></div>
      <div class="col-1 testiomonial-g"></div>
      <div class="col-1 testiomonial-l"></div>
     </div>
  </div>
  <div class="col text-center mt-4">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active testiomonial-height">
            <p class="testiomonial-quote">"Simple can be harder than complex; you have to work hard to get your thinking clean to make it simple."</p>
            <p class="testiomonial-name">~ Steve Jobs ~</p>
        </div>
        <div class="carousel-item testiomonial-height">
          <p class="testiomonial-quote">"Nobody cares, <strong>WORK HARDER!</strong>"</p>
          <p class="testiomonial-name">~ Me ~</p>
        </div>
      </div>
      </div>
  </div>
</div>
</div>
</div> <!--END OF CONTENT ROW -->
