<!-- LIFE - INTRO PITCH - SECTION ICONS -->
<section class="section-life">
    <div class="row justify-content-center">
        <!-- Breaking point -->
        <div class="col text-center m-0">
            <div class="row justify-content-center footer-line">
                <div class="col-4 col-sm-3 col-md-2 l"></div>
                <div class="col-3 col-sm-1 g"></div>
                <div class="col-4 col-sm-3 col-md-2 l"></div>
            </div>
        </div>
        <div class="col-12 text-center">
            <h1>LIFE</h1>
        </div>
        <!-- Intro Pitch -->
        <div class="col-12 col-sm-8 col-md-10 col-lg-8">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center  intro-trip">
                    <div class="text-wrap">
                        <p class="text-center">
                            <strong>Beauty, culture, great craic, and plenty to do!</strong>
                        </p>
                        <p>
                            There’s always craic to be had, and you’re never more than a stone’s throw away from nature.
                        </p>
                        <p>
                            <strong>But first, let's cover the essentials!</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <h1 class="sub-h1">ACCOMMODATION</h1>
        </div>

        <!-- Link Cards -->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 cards-wrap">
            <div class="wrap">
                <a href="https://www.rent.ie/" target="_blank" class="card-link">
                    <img src="public\img\rent.png" class="img-fluid" alt="Rent">
                    <h2>RENT</h2>
                    <p class="text-center"><i class="fas fa-home"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://www.myhome.ie/" target="_blank" class="card-link">
                    <img src="public\img\m-home.png" class="img-fluid" alt="My Home">
                    <h2>MY-H</h2>
                    <p class="text-center"><i class="fas fa-igloo"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
            
            <div class="wrap">
                <a href="https://www.let.ie/" target="_blank" class="card-link">
                    <img src="public\img\let.png" class="img-fluid" alt="Let Ie">
                    <h2>LET.IE</h2>
                    <p class="text-center"><i class="fas fa-home"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
        </div>

        <!-- Breaking point -->
        <div class="col-12 text-center mt-4">
            <div class="row justify-content-center footer-line">
                <div class="col-4 col-sm-3 col-md-2 l"></div>
                <div class="col-3 col-sm-1 g"></div>
                <div class="col-4 col-sm-3 col-md-2 l"></div>
            </div>
        </div>

        <!-- Mobile Networks -->
        <div class="col-12 text-center mt-4">
            <h1 class="sub-h1">MOBILE</h1>
        </div>
        <!-- Hop On Text-->
        <div class="col-12 col-sm-8 col-md-10 col-lg-8">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center intro-trip">
                    <div class="text-wrap">
                        <p class="text-center">
                            <strong>Here are some of the top mobile networks in Ireland!</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Link Cards -->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 cards-wrap">
            
            <div class="wrap">
                <a href="https://www.three.ie/" target="_blank" class="card-link">
                    <img src="public\img\three.png" class="img-fluid" alt="Three">
                    <h2>THREE</h2>
                    <p class="text-center"><i class="fas fa-mobile-alt"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://n.vodafone.ie/en.html" target="_blank" class="card-link">
                    <img src="public\img\vodafone.png" class="img-fluid" alt="Vodafone">
                    <h2>VODAFONE</h2>
                    <p class="text-center"><i class="fas fa-sms"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
            
            <div class="wrap">
                <a href="https://www.eir.ie/mobile/" target="_blank" class="card-link">
                    <img src="public\img\eir.png" class="img-fluid" alt="Eir">
                    <h2>EIR</h2>
                    <p class="text-center"><i class="fas fa-mobile-alt"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
        </div>


        <!-- Breaking point -->
        <div class="col-12 text-center mt-4">
            <div class="row justify-content-center footer-line">
                <div class="col-4 col-sm-3 col-md-2 l"></div>
                <div class="col-3 col-sm-1 g"></div>
                <div class="col-4 col-sm-3 col-md-2 l"></div>
            </div>
        </div>

        <!-- Food -->
        <div class="col-12 text-center mt-4">
            <h1 class="sub-h1">FOOD</h1>
        </div>
        <!-- Hop On Text-->
        <div class="col-12 col-sm-8 col-md-10 col-lg-8">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center intro-trip">
                    <div class="text-wrap">
                        <p class="text-center">
                            <strong>Food Glorious Food</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Link Cards -->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 cards-wrap">
            
            <div class="wrap">
                <a href="https://www.aldi.ie/" target="_blank" class="card-link">
                    <img src="public\img\aldi.png" class="img-fluid" alt="Aldi">
                    <h2>ALDI</h2>
                    <p class="text-center"><i class="fas fa-carrot"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://www.lidl.ie/" target="_blank" class="card-link">
                    <img src="public\img\lidl.png" class="img-fluid" alt="Lidl">
                    <h2>LIDL</h2>
                    <p class="text-center"><i class="fas fa-cloud-meatball"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
            
            <div class="wrap">
                <a href="https://www.tesco.ie/" target="_blank" class="card-link">
                    <img src="public\img\tesco.png" class="img-fluid" alt="Tesco">
                    <h2>TESCO</h2>
                    <p class="text-center"><i class="fas fa-egg"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
        </div>
    </div>
</section>