<!-- Skills -->
<div class="row justify-content-start border-top"> <!-- HEDING ROW -->
  <!-- SECTION LOGO -->
  <div class="col-3">
    <div class="d-flex justify-content-center">
        <div class="section-squer-wrap">
          <i class="fas fa-tools section-logo"></i>
        </div>
    </div>
  </div>
  <!-- SECTION HEDING -->
  <div class="col-9">
    <div class="d-flex justify-content-center">
      <h1 class="ex-heding">SKILLS.</h1>
    </div>
  </div>
</div>

<div class="row justify-content-center">
 <div class="col-1 testiomonial-l"></div>
 <div class="col-1 testiomonial-g"></div>
 <div class="col-1 testiomonial-l"></div>
</div>
<!--------------------------------------------------------------->
<div class="row justify-content-center pt-5 pb-4"> <!-- CONTENT ROW -->
  <div class="col-sm col-10-lg col-xl-8 skills">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h1 class="footer-c">My skills</h1>
      </div>
      <div class="col-12 text-center">
        <h1 class="footer-cm">Skills</h1>
      </div>
      <div class="col-sm-10 text-center">
        <p class="footer-intro">
          Here you can find some of my
          <span class="font-weight-bold">TOP skill-set</span>
          arsenal, suited for most industries.<br>
          <span class="font-weight-bold">Check them out...</span>
        </p>
      </div>
    </div>

    <div class="row justify-content-around mt-4">
      <div class="col-sm-6 mb-4">
        <h1 class="sk-heding text-center m-0">DEVELOPMENT</h1>
        <!-- Bootstrap -->
        <p class="sk-title">Bootstrap Framework</p>
        <div class="pro-bg">
          <div class="high-bar text-center" role="progressbar">90%</div>
        </div>
        <!-- HTML(5) -->
        <p class="sk-title">HTML(5)</p>
        <div class="pro-bg">
          <div class="high-bar text-center" role="progressbar">90%</div>
        </div>
        <!-- CSS(3) -->
        <p class="sk-title">CSS(3)</p>
        <div class="pro-bg">
          <div class="high-bar text-center" role="progressbar">90%</div>
        </div>
        <!-- SASS/SCSS -->
        <p class="sk-title">SASS/SCSS</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- jQuery -->
        <p class="sk-title">jQuery</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- JavaScript -->
        <p class="sk-title">JavaScript</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- Angular Js -->
        <p class="sk-title">Angular Js</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- Node.js -->
        <p class="sk-title">Node.js</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- MySQL -->
        <p class="sk-title">MySQL</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- MongoDB CRUD -->
        <p class="sk-title">MongoDB CRUD</p>
        <div class="pro-bg">
          <div class="s-low-bar text-center" role="progressbar">65%</div>
        </div>
      </div>

      <div class="col-sm-6 mb-4">
        <h1 class="sk-heding text-center m-0">TOOLS</h1>
        <!-- Photoshop -->
        <p class="sk-title">Photoshop</p>
        <div class="pro-bg">
          <div class="high-bar text-center" role="progressbar">90%</div>
        </div>
        <!-- Illustrator -->
        <p class="sk-title">Illustrator</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- InDesign -->
        <p class="sk-title">InDesign</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- Gti, GitHub, Version Control -->
        <p class="sk-title">Gti, GitHub, Version Control</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- FileZilla -->
        <p class="sk-title">FileZilla</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- ServiceNow -->
        <p class="sk-title">ServiceNow</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- SCCM -->
        <p class="sk-title">SCCM</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- Active Directory -->
        <p class="sk-title">Active Directory</p>
        <div class="pro-bg">
          <div class="low-bar text-center" role="progressbar">75%</div>
        </div>
        <!-- Microsoft Office 2016 -->
        <p class="sk-title">Microsoft Office 2016</p>
        <div class="pro-bg">
          <div class="high-bar text-center" role="progressbar">90%</div>
        </div>
        <!-- Windows 10 -->
        <p class="sk-title">Windows 10</p>
        <div class="pro-bg">
          <div class="high-bar text-center" role="progressbar">90%</div>
        </div>
      </div>

      <div class="col-sm-6 mb-4">
        <h1 class="sk-heding text-center m-0">INDUSTRY KNOWLEDGE</h1>
        <p class="sk-title">Project Management</p>
        <p class="sk-title">Digital Marketing</p>
        <p class="sk-title">Marketing Strategy</p>
      </div>

      <div class="col-sm-6">
        <h1 class="sk-heding text-center m-0">INTERPERSONAL SKILLS</h1>
        <p class="sk-title">Organizational Leadership</p>
        <p class="sk-title">Customer Service</p>
        <p class="sk-title">Communication</p>
      </div>

    </div>

</div>
</div> <!--END OF CONTENT ROW -->
<!-- Experience -->
