<!--TRIP - INTRO PITCH - SECTION ICONS -->
<section class="section-trip">
    <div class="row justify-content-center">
        <!-- Breaking point -->
        <div class="col text-center m-0">
            <div class="row justify-content-center footer-line">
                <div class="col-4 col-sm-3 col-md-2 l"></div>
                <div class="col-3 col-sm-1 g"></div>
                <div class="col-4 col-sm-3 col-md-2 l"></div>
            </div>
        </div>
        <div class="col-12 text-center">
            <h1>TRIP</h1>
        </div>
        <!-- Intro Pitch -->
        <div class="col-12 col-sm-8 col-md-10 col-lg-8">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center  intro-trip">
                    <div class="text-wrap">
                        <p class="text-center">
                            <strong>So you packed your bags!</strong><br>
                            But did you buy your plane ticket?
                        </p>
                        <p><strong>Let us help you with that!! </strong></p>
                        <p class="text-center"> 
                            Below you can find some of the most 
                            popular web services for booking your flight to Ireland. 
                            Dublin is the capital of Ireland and Dublin
                            Airport is well connected with all major capitals in 
                            Europ and worldwide.
                        </p>
                        <p class="text-center">
                            <strong>So look around and happy hunting!</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <h1 class="sub-h1">CHOOSE WISELY</h1>
        </div>

        <!-- Link Cards -->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 cards-wrap">
            <div class="wrap">
                <a href="https://www.jetcost.ie/" target="_blank" class="card-link">
                    <img src="public\img\jet.png" class="img-fluid" alt="Jetcost">
                    <h2>JETCOST</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://www.kiwi.com" target="_blank" class="card-link">
                    <img src="public\img\kiwi.png" class="img-fluid" alt="Kiwi">
                    <h2>KIWI</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
            
            <div class="wrap">
                <a href="https://www.skyscanner.ie" target="_blank" class="card-link">
                    <img src="public\img\sky.png" class="img-fluid" alt="Sky">
                    <h2>SKY</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://www.edreams.com/" target="_blank" class="card-link">
                    <img src="public\img\edreams.png" class="img-fluid" alt="Edreams">
                    <h2>EDREAMS</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://www.expedia.ie/" target="_blank" class="card-link">
                    <img src="public\img\expedia.png" class="img-fluid" alt="Expedia">
                    <h2>EXPEDIA</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://www.kayak.ie" target="_blank" class="card-link">
                    <img src="public\img\kayak.png" class="img-fluid" alt="Kayak">
                    <h2>KAYAK</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
        </div>

        <!-- Breaking point -->
        <div class="col-12 text-center mt-4">
            <div class="row justify-content-center footer-line">
                <div class="col-4 col-sm-3 col-md-2 l"></div>
                <div class="col-3 col-sm-1 g"></div>
                <div class="col-4 col-sm-3 col-md-2 l"></div>
            </div>
        </div>

        <!-- Hop On -->
        <div class="col-12 text-center mt-4">
            <h1 class="sub-h1">HOP ON</h1>
        </div>
        <!-- Hop On Text-->
        <div class="col-12 col-sm-8 col-md-10 col-lg-8">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center  intro-trip">
                    <div class="text-wrap">
                        <p class="text-center">
                            <strong>Woo-hoo! Touch down, baby! <br>Welcome to Ireland!</strong>
                        </p>
                        <p class="text-center"> 
                            Here you can find links for Irish public transportation.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Link Cards -->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 cards-wrap">
            <div class="wrap">
                <a href="https://luas.ie/" target="_blank" class="card-link">
                    <img src="public\img\luas.png" class="img-fluid" alt="Luas">
                    <h2>LUAS</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://getthere.ie/" target="_blank" class="card-link">
                    <img src="public\img\get.png" class="img-fluid" alt="Getthere">
                    <h2>GET</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
            
            <div class="wrap">
                <a href="https://www.dublinbus.ie/" target="_blank" class="card-link">
                    <img src="public\img\bus.png" class="img-fluid" alt="Dublin bus">
                    <h2>D-BUS</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- ---------- COPY FROM HERE ----------- -->