<div class="row justify-content-start border-top"> <!-- HEDING ROW -->
  <!-- SECTION LOGO -->
  <div class="col-3">
    <div class="d-flex justify-content-center">
        <div class="section-squer-wrap">
          <i class="fas fa-user section-logo"></i>
        </div>
    </div>
  </div>
  <!-- SECTION HEDING -->
  <div class="col-9">
    <div class="d-flex justify-content-center">
      <h1 class="home-heding">PROFILE.</h1>
    </div>
  </div>
</div>

<div class="row justify-content-center">
 <div class="col-1 testiomonial-l"></div>
 <div class="col-1 testiomonial-g"></div>
 <div class="col-1 testiomonial-l"></div>
</div>
<!--------------------------------------------------------------->
<div class="row justify-content-center pt-5 pb-4"> <!-- CONTENT ROW -->
  <div class="col-sm col-10-lg col-xl-8">
    <div class="row">

      <div class="col-sm-6 col-xs-10 order-2 order-sm-1 text-center">
          <img src="public/images/img01.png" class="img-fluid profile-img" alt="Profile_Img">
      </div>

      <div class="col-sm-6 col-xs-10 order-1 order-sm-2 about">
        <div class="row justify-content-center">
          <div class="col-12">
            <h1 class="text-left about-me">About Me</h1>
            <h1 class="text-left about-a">About</h1>
            <p class="text-left about-intro">
              <span class="font-weight-bolder">Energy</span> comes from experiencing new things,
              traveling to new places, meeting new people, and learning more about the world around us.
              The <span class="font-weight-bolder">potential</span> to learn something new lies in every conversation with every new person met
              every new place traveled, and every new <span class="font-weight-bolder">experience</span>.
            </p>
            <p class="text-left about-intro">
            <span class="font-weight-bolder">The mission</span> is to find a place with people who share the same passion as I do.
              A team of people which every day share the same devotion to finishing in the first place.
              <br><span class="font-weight-bolder">Result: </span><span class="medal">Golden Medal.</span>
            </p>
          </div>

          <div class="col-10 border-top">
            <ul class="list-group about-details">
              <li class="list-group-item border-0 ">Name: <span class="detail-item">Tomislav Sokac</span></li>
              <li class="list-group-item border-0 ">Nationality: <span class="detail-item">Croatian</span></li>
              <li class="list-group-item border-0 ">Date of birth: <span class="detail-item">29.04.1985</span></li>
              <li class="list-group-item border-0 ">Email: <span class="detail-item">tsokac2@gmail.com</span></li>
              <li class="list-group-item border-0 ">Phone: <span class="detail-item">+353 85 819 68 18</span></li>
              <li class="list-group-item border-0 ">Nickname: <span class="detail-item">"Tommy"</span></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
</div> <!--END OF CONTENT ROW -->
