 <!--WORK - INTRO PITCH - SECTION ICONS -->
 <section class="section-work">
    <div class="row justify-content-center">
        <!-- Breaking point -->
        <div class="col text-center m-0">
            <div class="row justify-content-center footer-line">
                <div class="col-4 col-sm-3 col-md-2 l"></div>
                <div class="col-3 col-sm-1 g"></div>
                <div class="col-4 col-sm-3 col-md-2 l"></div>
            </div>
        </div>
        <div class="col-12 text-center">
            <h1>WORK</h1>
        </div>
        <!-- Intro Pitch -->
        <div class="col-12 col-sm-8 col-md-10 col-lg-8">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center  intro-trip">
                    <div class="text-wrap">
                        <p class="text-center">
                            <strong>Finding</strong> work in <strong>Ireland</strong> can be 
                            difficult but with the correct preparation, advice, and planning this task can be 
                            made a lot <strong>easier.</strong>
                        </p>
                        <p>
                            As with most countries, most <strong>jobs</strong> can be found in major cities so if you are 
                            living in <strong>Dublin,</strong> <strong>Galway</strong> or <strong>Cork</strong> 
                            there is more chance of finding a job in <strong>Ireland</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <h1 class="sub-h1">START HERE</h1>
        </div>

        <!-- Link Cards -->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 cards-wrap">
            <div class="wrap">
                <a href="https://www.irishjobs.ie/" target="_blank" class="card-link">
                    <img src="public\img\i-jobs.png" class="img-fluid" alt="Irish Jobs">
                    <h2>I-JOBS</h2>
                    <p class="text-center"><i class="fas fa-project-diagram"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://ie.indeed.com/" target="_blank" class="card-link">
                    <img src="public\img\indeed.png" class="img-fluid" alt="Indeed">
                    <h2>INDEED</h2>
                    <p class="text-center"><i class="fas fa-user-tie"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
            
            <div class="wrap">
                <a href="https://jobbio.com/?country=ie" target="_blank" class="card-link">
                    <img src="public\img\jobbio.png" class="img-fluid" alt="Jobbio">
                    <h2>JOBBIO</h2>
                    <p class="text-center"><i class="fas fa-project-diagram"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://www.monster.ie/" target="_blank" class="card-link">
                    <img src="public\img\monster.png" class="img-fluid" alt="Monster">
                    <h2>MONSTER</h2>
                    <p class="text-center"><i class="fas fa-user-tie"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://www.careerjet.ie/" target="_blank" class="card-link">
                    <img src="public\img\carrer.png" class="img-fluid" alt="Carrer">
                    <h2>C-JET</h2>
                    <p class="text-center"><i class="fas fa-project-diagram"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://www.computerfutures.com/en-gb/" target="_blank" class="card-link">
                    <img src="public\img\cf.png" class="img-fluid" alt="Computer Features">
                    <h2>COM-F</h2>
                    <p class="text-center"><i class="fas fa-user-tie"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
        </div>

        <!-- Breaking point -->
        <div class="col-12 text-center mt-4">
            <div class="row justify-content-center footer-line">
                <div class="col-4 col-sm-3 col-md-2 l"></div>
                <div class="col-3 col-sm-1 g"></div>
                <div class="col-4 col-sm-3 col-md-2 l"></div>
            </div>
        </div>

        <!-- Hop On -->
        <div class="col-12 text-center mt-4">
            <h1 class="sub-h1">CV TIPS</h1>
        </div>
        <!-- Hop On Text-->
        <div class="col-12 col-sm-8 col-md-10 col-lg-8">
            <div class="row justify-content-center">
                <div class="col col-md-8 text-center intro-trip">
                    <div class="text-wrap">
                        <p class="text-center">
                            If you are interested in some online education to <strong>"muscle-up"</strong> 
                            your CV here are great starting points...
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Link Cards -->
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 cards-wrap">
            <div class="wrap">
                <a href="https://codeinstitute.net/" target="_blank" class="card-link">
                    <img src="public\img\code.png" class="img-fluid" alt="Code Institute">
                    <h2>CODE-I</h2>
                    <p class="text-center"><i class="fas fa-graduation-cap"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>

            <div class="wrap">
                <a href="https://springboardcourses.ie/" target="_blank" class="card-link">
                    <img src="public\img\spring.png" class="img-fluid" alt="Springboard">
                    <h2>SPRING-B</h2>
                    <p class="text-center"><i class="fas fa-graduation-cap"></i></p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
            
            <div class="wrap">
                <a href="https://www.ucd.ie" target="_blank" class="card-link">
                    <img src="public\img\ucd.png" class="img-fluid" alt="UCD">
                    <h2>UCD</h2>
                    <p class="text-center"> <i class="fas fa-caret-down"></i> </p>
                    <p><i class="fas fa-ellipsis-h"></i></p>
                </a>
            </div>
        </div>
    </div>
</section>